.container {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  border: 1px solid red;
  background-color: #FAFAFA;
}

.header {
  display: flex;
  width: 85%;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 40px 40px;
  border: 1px solid blue;
  position: fixed;
  z-index: +1;
}

.header img {
  float: left;
  padding: 40px 0px 40px 50px;
  cursor: pointer;
}

.header div {
  display: flex;
  text-align: center;
  border: 1px solid yellow;
}



.header .cart {
  margin-left: 30px;
  margin-right: 30px;
}

.fa-bars {
  color: black;
  margin: 0px 385px 0px 385px;
}

/* აქედან იწყება სექცია 1 */

.section1 {
  display: flex;
  margin: auto;
  width: 85%;
  margin-top: 10%;
  /* border: 1px solid purple; */
  position: relative;
  object-fit: cover;
}


.dog {
  position: relative;
  width: 100%;
  height: 100%;
}

.buy {
  width: 50%;
  margin-top: 43px;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  ;
}

.textover {
  /* display: flex; */
  width: 30%;
  border: 1px solid red;
  position: absolute;
  color: white;
  font-size: 24px;
  text-align: center;
  top: 80px;
  left: 400px;
  font-weight: 400;

}

/* აქ იწყება სექცია 2 */


.section2 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid burlywood;
  justify-content: space-between;
}

#h2 {
  font-size: 28px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.section2>.card {
  width: 20%;
  height: 475px;
  justify-content: center;
  width: 24%;
  border: 1px solid white;
  background-color: white;
  align-items: center;
  line-height: 2;
  border: 1px solid yellow;
  border-radius: 15px;
}

.section2 img {
  padding-left: 15%;
  margin-bottom: 32px;
  padding-top: 39px;
}

.weight {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.section2 figcaption{
  font-size: 18px;
  padding-left: 10%;
}

.weight :first-child{ 
  width: 40%;
  height: 35px;
  border: solid;
  border-radius: 2px;
  border-color: white;
  background-color: #F8F8F8;
  margin-top: 5%;
}

.weight :last-child {
  width: 40%;
  height: 35px;
  border: solid;
  border-radius: 2px;
  border-color:white;
  background-color: #E7E7E7;
  margin-top: 5%;
}

.price{
  display: flex;
  width: 100%;
  /* height: 10%; */
  border: 1px solid green;
  margin-top: 30px;
  padding:0px 0px 33px 32px;
  justify-content:center;
  align-items: center;
}

.price i{
  border: 1px solid blue;
  margin-left: 120px;
  color: #74B42C;
}

.empty{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-left: 20px;


}
